/* STYLESHEET FOR ACM ICPC ASIA-MANILA REGIONALS WEBSITE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  width: 100%;
  background-color: #A6B9C0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #066C91;
  transition: all 200ms;
}
  
  a:hover {
    color: #00AABC;
  }

/* HEADER STYLES */
header {
  width: 100%;
  height: 4em;
  padding: 0 2em;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 6;
}

  header .logo {
    display: block;
    height: 80%;
  }

    header .logo img {
      display: block;
      height: 80%;
    }

  nav {
    display: block;
  }

    .show-menu {
      padding: 0.5em;
      font-size: 1.85em;
      text-decoration: none;
      color: #066C91;
      position: absolute;
      cursor: pointer;
      right: 0;
      top: 0;
      display: none;
    }

    header input[type="checkbox"] {
      display: none;
    }

    header input[type="checkbox"]:checked ~ nav {
      display: block;
      transition: 200ms;
    }

    nav .nav-item {
      margin: 0 0.5em;
      color: #066C91;
      padding: 0.5em 0.75em;
    }

      nav .nav-item:hover {
        color: #00AABC;
      }

      /* special button */
      #register {
        background-color: #066C91;
        color: #fff;
      }

        #register:hover {
          background-color: #00AABC;
        }

/* FOOTER STYLES */
footer {
  align-self: bottom;
  width: 100%;
  max-height: 12em;
  background-color: #fff;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

  .sitemap {
    width: 20%;
    height: 8em;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
  }

  .copyright {
    align-self: flex-end;
    text-align: center;
    font-size: 12px;
  }

  .logos {
    display: block;
    width: 20%;
  }

    .logos img {
      width: 75%;
    }

/* MAIN STYLES */
header ~ div {
  flex: 1;
}

#above-fold, #single {
  margin-top: 4em;
  display: flex;
}

/* ABOVE THE FOLD */
#above-fold {
  height: calc(100vh - 4em);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(255,255,255,0.5), rgba(0,0,0,0.15), rgba(0,0,0,0.5), rgba(0,0,0,1)), url('img/above-fold-01.jpg') no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

  #main-info {
    display: block;
    text-align: center;
  }

    #main-info h1 {
      font-size: 3em;
      color: #fff;
    }

    #details {
      margin: 1em;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

      #date-box, #location-box {
        color: #fff;
        border: 5px solid;
        border-radius: 10px;
      }

        #date-box {width: 39%;}

        #location-box {width: 43%;}

        #date-box i,
        #location-box i {
          padding: 0.75em;
          border-right: 5px solid;
        }

        #date, #location {
          padding: 0 0.75em;
        }

  #buttons {
    margin-top: 4em;
    width: 30%;
    display: flex;
    justify-content: space-around;
  }

    #buttons a {
      text-align: center;
      padding: 0.75em 2em;
      background-color: #066C91;
      color: #fff;
    }

      #buttons a:hover {
        background-color: #00AABC;
      }

/* BELOW FOLD */
#news {
  padding: 2.5em 5em;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

  #posts {
    width: 60%;
    display: block;
  }

    #posts .post {
      margin-bottom: 2.5em;
      display: block;
      padding: 2em 4em;
      background-color: #E9E9ED;
    }

      .post .post-header {
        margin-bottom: 1.5em;
      }

        .post .post-header .post-title {
          margin-bottom: 0.25em;
        }

        .post .post-header .post-details {
          font-size: 12px;
        }

      .post .post-body {
        line-height: 150%;
      }

        .post .post-preview p {
          margin-bottom: 0.75em;
        }

        .post .post-preview img {
          max-width: 100%;
          margin: 0 auto;
        }


      .post hr {
        margin: 1.5em 0 0.75em;
      }

      .post .post-tags {
        text-align: center;
      }

        .post .post-tags .post-tag {
          display: inline-block;
          margin: 0 0.5em;
        }

    #navigation {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

      #navigation a {
        color: #1a1a1a;
      }

        #navigation a:hover {
          color: #5a5a5a;
        }

  #social-media {
    width: 30%;
    background-color: #E9E9ED;
    padding: 2em;
    display: block;
  }

    #social-media h3 {
      text-align: center;
      margin-bottom: 1em;
    }

/* INDIVIDUAL POST / PAGE styles */
#single {
  padding: 2em;
  flex-wrap: wrap;
  position: relative;
}

#single .post {
  width: 100%;
  margin: 2.5em;
}

  #single .post .post-header {
    margin-bottom: 2em;
  }

    #single .post .post-header h1 {
      font-size: 3.5em;
      margin-bottom: 0.25em;
    }

  #single .post .post-body {
    width: 60%;
    padding: 0 1em;
  }

    #single .post img {
      max-width: 100%;
      margin: 0 auto;
    }

    #single .post p {
      line-height: 175%;
      margin: 1em 0;
    }

  #single .post .post-footer {
    width: 60%;
  }

    #single .post .post-tags .post-tag {
      background: #fff;
      padding: 0.5em;
    }

#single #social-media {
  position: absolute;
  top: 100vh;
  right: 5em;
}

/* RESPONSIVE STYLES */
@media screen and (max-width: 760px) {
  /* HEADER STYLES */
  header {
    padding: 0 1em;
    display: table;
  }

    header .logo {
      height: 50%;
      display: table-cell;
      vertical-align: middle;
    }

      header .logo img {
        height: auto;
        width: 80%;
      }

    nav {
      width: 100%;
      position: absolute;
      background: #fff;
      top: 4em;
      left: 0;
      display: none;
    }

      nav .nav-item {
        width: 100%;
        margin: 0;
        display: block;
        text-align: center;
      }

    .show-menu {
      display: block;
    }

  #above-fold {
    display: block;
    padding: 2em 0;
  }

    #above-fold > div {
      width: 100%;
    }

    #main-info {
      padding: 1.5em 1em 0;
    }

      #main-info h1 {
        font-size: 1.9em;
      }

    #details {
      display: block;
    }

      #date-box, #location-box {
        margin: 1em auto;
      }

      #date-box {width: 90%;}
      #location-box {width: 100%;}

        #date, #location {
          font-size: 0.8em;
          line-height: 100%;
        }

    #buttons {
      display: block;
      padding: 0 1em;
    }

      #buttons a {
        display: block;
        margin: 1em auto;
      }

  /* FOOTER STYLES */
}